* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/try.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(224, 229, 233);
}


.container{
  width: 90vw;
  height: 90vh;
  background-color: transparent;
  backdrop-filter:blur(10px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
/*rgba(204, 230, 230, 0.242);*/

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(red, green, blue, alpha);
}